name: Code Quality
on:
  - push
  - pull_request

jobs:

  lint:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3
        name: Install ruff and run ruff check
      - run: ruff format --diff